.DocumentSummaryMain {
  width: 38%;
  /* display: flex; */
  /* justify-content: space-between; */
}

.DocumentSummarySub {
  flex: 1;
  height: 90%;
  padding: 20px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: white;
}



 .borderbottomx{
  border-bottom: solid 1px lightgray;
  margin-top: -7px;
 }

.title{
color: #465e7a;
font-size: 10px;
margin-top: 0;
margin-bottom: 0;
}

.DocumentSummaryHeadSub {
  
  /* margin: 25px 10px; */
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;      
}

/* .DocumentSummaryHead:hover {
  
  background-color: #ecedf0;      
} */


.imageD{
  text-align: center;
  padding-right: 10px;
  border-right: solid 2px lightgrey;
}

.DocumentSummaryListItem{
  margin-top: 0;
  font-size: 15px;
  
}

.DocumentSummaryButton{
  text-align: center;
  background-color:#3949ab;
  border-radius: 40px;
  border: none;
  padding: 10px;
  font-size: 12px;
  color: white;
}

.DocumentSummaryHead{
  /* padding: 5px;
  display: flex;
  flex-direction: column; */
  margin-bottom: 10px;
  
}

.DocumentSummaryButton:hover{
  text-align: center;
  background-color: #050d44;
  cursor: pointer;
  color: white;
}
