.QuotationVehicleMain{
    padding: 15px;
    /* width: 20%; */
}

.QuotationVehicleHead{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #e2ecff;
}

.QuotationVehicleFormMain{
    color: #677a91;
    font-size: 10px;
}

.QuotationVehicleForm{
    background: white;
    margin-top: -10px;
    padding: 15px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.btn{
    border: none;
    background-color: #e2ecff;    
}