.QuotationItemMain{
    padding: 15px;
}

.QuotationItemHead{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #e2ecff;
}

.QuotationItemFormMain{
    color: #677a91;
    font-size: 10px;
}

.QuotationItemForm{
    background: white;
    margin-top: -10px;
    font-weight: bold;
    padding: 15px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px; */
}

.btn{
    border: none;
    background-color: #e2ecff;   
}

.QuotationItems{
 background-color: orange;
 cursor: pointer;
 border: none;
 margin-top: 2px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 15px;
 padding-right:15px;
 border-radius: 5px;
 color: white;
 
}

.QuotationItemsbutton{
    /* text-align: right; */
    text-align: right;
    margin-left: 90px;
}

.Popup{
    text-align: center;
}

.big{
    font-size: 20px;
    color:  grey;
}